<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>

<body>
  <script src="{{ url_for('static', filename='js/packages.js') }}"></script>

  <h1>Login</h1>

  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Oloco, meu!</strong> Olha esse alerta animado, como é chique!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</body>
</html>