<!DOCTYPE html>
<html lang="pt-br" class="w-100 h-100">
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/fonts.css') }}"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/fontawesome/css/fontawesome.css') }}"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/fontawesome/css/brands.css') }}"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/fontawesome/css/solid.css') }}"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>

  <body class="w-100 h-100">
    
    <script src="{{ url_for('static', filename='js/packages.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <div class="d-flex align-items-center justify-content-center flex-column w-100 h-100">
      <div class="wrapper d-flex flex-column justify-content-center">
        <div class="text-center mt-4 name">Cadastro</div>
        <form id="sendLogin" class="p-3 mt-3">
          <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text" id="login--name" placeholder="Usuário" />
          </div>
          <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" id="login--password" placeholder="Senha" />
          </div>
          <div class="messageError w-100 text-center d-none">
            <small class="w-100">Usuário ou Senha Incorretos!</small>
          </div>
          <button id="login--request" class="btn mt-3">Login</button>
        </form>
      </div>
    </div>
  </body>

  <script
    type="module"
    src="{{ url_for('static', filename='js/pages/login/index.js') }}"
  ></script>
</html>
